# misc
.DS_Store
.cache
.local
.vscode

# bash
.bash_history

# Python
*.pyc
.pytest_cache
__pycache__
.python_history
.ipython
.jupyter

# plink
*.error

# R
.rda
.varianceRatio.txt
.Rhistory
database.conf

# sphinx
sphinx-docs/source/_build
sphinx-docs/source/_static

# usecases
*.log

# usecases/LDpred2 tutorial scripts
LDpred2_cache
LDpred2_files
LDpred2.pdf
Rplots.pdf
LDpred2.log
LDpred2.tex
LDpred2.aux
LDpred2.html
*.rds
*.bk
*.sbk
*.error
usecases/LDpred2/EUR.imputed.*
usecases/LDpred2/test.score.*

# PGS demo output 
scripts/pgs/pgs_toolkit/QC_data
scripts/pgs/pgs_toolkit/PGS_*
scripts/pgs/pgs_toolkit/output/*
scripts/pgs/pgs_toolkit/logs/*
scripts/pgs/pgs_toolkit/tmp-data/*
scripts/pgs/pgs_toolkit/slurm_job_scripts/*
scripts/pgs/pgs_toolkit/bash_scripts/*
*.eigenval
*.eigenvec
*.cov

# Jupyter+IPython
.cache
.local
.ipython
.jupyter

# container builds
*.sif
